@import url(style.css);

.top {
    height: 100%;
}

.header {
    color:black;
    display:flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;
  }
  
.title {
    font-size: 100px;
  }
  