.character-card {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 30%;
    height: 100%;
}

.character-img {
    margin: 0 auto;
    text-align: center;
    width:430px;
    height:780px;
}

.character-item {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    text-align: center;
    width: 98.5vw;
    justify-content: space-around;
    align-content: space-around;
}
  
.character-name {
  font-size: 40px;
  text-decoration: underline;
  font-weight: 700;
  text-align: center;
}
  
.character-vision {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 1rem;
}
  
.character-nation {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
}
  
.character-weapon {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}

.remove {
  margin-bottom: 10px;
    width: 110px;
    color: black;
    font-size: 20px;
    background: rgb(190, 189, 189);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(71, 69, 69, 0.623);
    transition-duration: 1s;
}