.options {
  margin-left: 10rem;
  margin-top: 25px;
}

.opt-btn {
    margin-top: 30px;
    margin-right: 2rem;
    width: 120px;
    color: black;
    font-size: 20px;
    background: #afd89e;
    border: 3px solid #60944c;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(71, 69, 69, 0.623);
    transition-duration: 1s;
  }

.opt-btn:active {
  transform: translateY(6px);
}

.hidden{
  -webkit-transition: width 5s;
    transition: width 5s;
  width: fit-content;
  margin-bottom: 20px;
}

.hidden-buttons{
  display:none;
}

.hidden:hover .hidden-buttons{
  display:inline-block;
}

.hidden1 {
  margin-bottom: 50px;
}