.nav-bar {
    margin-top: 1px;
    margin-left: 40rem;
    height: 8vh;
    display: flex;
    flex-direction: row;

    align-items: center;
    position: sticky;
    top:0;
  }


.btn {
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
    font-weight: 400;
    font-size: 2rem;
    justify-content: space-evenly;
    width: 40vw;
    text-decoration: none;
    color: black;
  }
 
  .logo {
    margin-left: -34rem;
    margin-top: 1.5rem;
    height: 6.5vh; 
  }