@import url(_navbar.css);
@import url(_header.css);


html,
body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #d4e4d4;
    overflow-x: hidden;
}

.search-div {
    width: 100%;
    flex-direction: column;
  }
  
  .search-text {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4.5rem;
    text-align: center;
  }
  
  .search-form {
    width: 60%;
    display:flex;
    flex-direction: row;
  }
  
  .search-bar {
    width: 100%;
    padding: 1rem 2rem;
    @include default-btns;
  }
  
  .submit-btn {
    width: 9rem;
    padding: 5px 1rem;
    color:black;
    @include default-btns;
  }

  .submit-btn:hover {
    cursor: pointer;
  }
  
/*   .searched-books {
    @include flex-centered;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin: 1rem auto;
    padding: 3rem auto;
  }

  .search-book {
    width:40%;
    height: 23rem;
    font-size: 1.7rem;
    @include flex-centered;
    flex-direction: column;
    margin: 2rem auto;
    position:relative;
  }

  .searched-book-title {
    font-weight: 700;
    text-align: center;
    margin: 1rem;
  }

  .searched-book-author {
    font-weight: 400;
    text-align: center;
    margin: 1rem;
  }

  .searched-book-description {
    font-weight: 500;
    text-align: center;
    margin: 1rem;
  }
 */

.errors {
  font-size: 2rem;
  @include flex-centered;

}

.empty,
.not-found {
  margin: 5rem;
  text-align: center;
}


.search-icon{
  width:48px;
}