@import url(_header.css);
@import url(_searchbar.css);
@import url(_navbar.css);

html,
body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

$phone: 580px;
$tablet: 900px;
$laptop: 1200px;