#form {
  width: 100px;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  right:0;
}

::placeholder {
    color: #cac7ff;
    opacity: 0.7; 
  }

#form button img{
    width:25px;
}

