@import url(_header.css);
@import url(_img.css);

html,
body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #d4e4d4;
    overflow-x: hidden;
}

.nav-bar {
    margin-top: 1px;
    margin-left: 15rem;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top:0;
  }


.btn:active {
  transform: translateY(6px);
}

a:link {
  text-decoration: none ;
}

a:visited {
  text-decoration: none ;
}

a:hover {
  text-decoration: none ;
}

a:active {
  text-decoration: none ;
}


.opt-btn {
    margin-top: 30px;
    margin-right: 2rem;
    width: 110px;
    color: black;
    font-size: 20px;
    background: #ffcc00;
    border: 4px solid  #ffa705;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(71, 69, 69, 0.623);
    transition-duration: 1s;
}



.opt-btn:active {
  transform: translateY(6px);
}

.search-div {
  width: 100%;
  flex-direction: column;
}

.search {
  width: 70%;
  display:flex;
  flex-direction: row;
}

.search-bar {
  margin-left: 50px;
  margin-top:40px;
  width: 100%;
  padding: 1rem 2rem;
  @include default-btns;
}

.btn {
  margin-top: 40px;
  width: 65px;
  height: 52px;
}
.search-icon{
  width: 60px;
  height: 40px;
}


@media screen and (max-width: 600px) {
  .top {
    width: 390px;
    height: 300px;
  }
  .character {
    flex-direction: column;
  }
  .character-card {
    margin-left: 35px;
width: 340px;
height: 660px;
  }
  .character-img {
    width: 250px;
    height:450px
  }
  .character-name {
    font-size: 20px;
  }
  .character-vision {
    font-size: 15px;
  }
  .character-nation {
    font-size: 15px;
  }   
  .character-weapon {
    font-size: 15px;
  }
  .remove {
    margin-bottom: 15px;
      width: 70px;
      font-size: 15px;
      padding: 5px;
      text-decoration: none;
      box-shadow: 3px 3px 3px rgba(71, 69, 69, 0.623);
      transition-duration: 1s;
  }
  #title {
    font-size: 50px;
    margin-left: 27px;
  }
  .top {
    height: 300px;
  }
  .header {
    background-size: 428px 300px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .character {
    flex-direction: column;
  }
  .character-card {
    margin-left: 179px;
width: 427px;
height: 825px;
  }
  .character-img {
    width: 324px;
height: 554px;
  }
  .character-name {
    font-size: 30px;
  }
  .character-vision {
    font-size:25px;
  }
  .character-nation {
    font-size: 25px;
  }   
  .character-weapon {
    font-size: 25px;
  }
  .remove {
    margin-bottom: 15px;
      width: 90px;
      font-size: 15px;
      padding: 5px;
      text-decoration: none;
      box-shadow: 3px 3px 3px rgba(71, 69, 69, 0.623);
      transition-duration: 1s;
  }
  #title {
    font-size: 65px;
    margin-left: 201px;
  }
  .top {
    height: 300px;
  }
  .header {
    background-size: 428px 300px;
  }
}
